.appContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px 0;
}

.appLogo {
	position: fixed;
	top : 20px;
	left: 20px;
	width :8rem;
	height: 3rem;
}

@media screen and (max-width : 500px) {
	.appLogo {
		position: relative;
		top : 0px;
		left: 0px;
	}
}
